.container{
    display: none;
}

@media (max-width: 1023px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        justify-content: end;
      }
      
      .menu-toggle {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 18px;
        width: 30px;
        position: relative;
        z-index: 1;
      }
      
      .menu-toggle span {
        background: white;
        height: 3px;
        width: 30px;
        display: block;
        transition: 0.3s ease;
      }
      
      .nav-menu ul {
        list-style: none;
        padding: 0;
      }
      
      .nav-menu li {
        margin-bottom: 20px;
      }
      
      .nav-menu a {
        text-decoration: none;
        color: black;
        font-size: 1.5em;
      }
    
      .close-btn {
        position: absolute;
        top: 15px;
        right: 30px;
        font-size: 2.5em;
        color: black;
        cursor: pointer;
      }
      
      .close-btn:hover {
        color: #ccc;
      }
    
      .nav-menu {
        position: fixed;
        top: -100vh;
        left: 0;
        width: 100%;
        height: 100vh;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: top 0.3s ease;
      }
} 
  