.title-btn{
    padding: 10px 12px;
    border-radius: 37px;
    box-shadow: 0px 2px 57.6px 0px rgba(254, 193, 15, 0.70);
    background: linear-gradient(to right, var(--secondary-color) 50%, white 50%);
    background-size: 200% 200%;
    transition: background-position 300ms ease-in-out, color 300ms ease-in-out, transform 300ms ease-in-out;
    border: 3px solid var(--secondary-color);
}

.title-btn:hover{
    background-position: 100% 100%;
    color: var(--primary-color);
    box-shadow: 0 0 50px 5px rgba(254, 193, 15, 0.70);
    transform: translate(0,-5px);
}

.grid-section{
    background-image: url("../assets/images/homepage/grids.png");
    text-align: center;
    background-position: center;
}

.feature-section{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    width: 47%;
}

.feature-section p{
    color: #FFF;
    text-align: center;
    font-size: 61.06px;
    font-style: normal;
    font-weight: 600;
    line-height: 73px;
}

.feature-section p span{
    color: #FEC10F;
    font-size: 61.06px;
    font-style: normal;
    font-weight: 600;
    line-height: 73px;
}

.feature-section span{
    color: #8E8E8E;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; 
    letter-spacing: 0.54px;
}

.about-section{
    border-radius: 40px 40px 0px 0px;
    background: #FFF;
}

.title-section{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
}

.title-section p,.heading{
    color: #000080;
    font-size: 47.06px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 127.497% */
}

.about-section-headlines{
    color: var(--primary-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; /* 172.727% */
}

.about-section-desc{
    color: #8E8E8E;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 180% */
    letter-spacing: 0.45px;
    width: 78%;
}

@media (max-width: 768px){
    .about-section-desc{
        width: 100%;
    }
}

.uni-pad{
    padding: 56px 105px 99.018px 105px;
}

.services-section{
    border-radius: 36px;
    background: #F6F6F6;
}

.head-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    align-self: stretch;
}

.offers-section{
    border-radius: 16.51px;
    border: 0.917px solid #E0DBDB;
    background: white;
    padding: 1.5rem 1.5rem;
    transition: all 0.5s ease;
    cursor: pointer;
}

.offers-section:hover{
    transform: translate(0,-15px);
}

.offer-icon{
    width: 29.351px;
    height: 30.268px;
}

.offer-heading{
    color: #000080;
    font-size: 19.682px;
    font-style: normal;
    font-weight: 600;
    line-height: 34.855px;
}

.offer-desc{
    color: #8E8E8E;
    font-size: 13.758px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.765px;
    letter-spacing: 0.413px;
    margin-top: 1rem;
}

.product-design-img1{
    width: 220.823px;
    height: 222.886px;
}

.product-design-img2{
    width: 330.201px;
    height: 286.175px;
    border-radius: 15.593px;
    border-right: 0.917px solid #F2DDDD;
    border-top: 0.917px solid #F2DDDD;
}

.prototyping-img1
{
    width: 141.253px;
    height: 67.875px;
    flex-shrink: 0;
    border-radius: 9.172px;
    border: 0.917px solid #F2DDDD;
}

.prototyping-img2{
    width: 220.134px;
    height: 110.067px;
    flex-shrink: 0;
    border-radius: 9.172px;
    border: 0.917px solid #F2DDDD;
}

.work-title{
    color: #FFF;
    font-size: 32.06px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    text-transform: capitalize;
}

.line{
    width: 196px;
    height: 4px;
    background: var(--secondary-color);
    margin-top: 1rem;
}

.project-topics{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-top: 3rem;
}

.project-topics button{
    border-radius: 55px;
    border: 2px solid #FFF;
    padding: 6px 15px;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; 
    letter-spacing: 0.26px;
    background: linear-gradient(to right, transparent 50%, white 50%);
    background-size: 200% 200%;
    transition: background-position 300ms ease-in-out, color 300ms ease-in-out, transform 300ms ease-in-out;
}

/* .project-topics button:hover  {
    background-position: 100% 100%;
    color: var(--primary-color);
    box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.70);
    transform: translate(0,-5px);
} */

.project-img{
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.project-img:hover{
    transform: scale(1.2);
}

.project-detail{
    display: inline-flex;
    align-items: flex-start;
    gap: 11.023px;
    position: absolute;
    z-index: 1;
    bottom: 4%;
    left: 5%;
}

.project-detail button{
    display: flex;
    padding: 11.023px 22.046px;
    justify-content: center;
    align-items: center;
    gap: 9.186px;
    border-radius: 50.523px;
    background: #020202;
    color: #FFF;
    font-size: 11.942px;
    font-style: normal;
    font-weight: 300;
    line-height: 22.965px; /* 192.308% */
    letter-spacing: 0.239px;
}

.project-title{
    color: #FFF;
    font-size: 19.988px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.581px;
    letter-spacing: 0.4px;
}

.know-more{
    color: var(--secondary-color);
    font-size: 14.698px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.294px;
    text-transform: capitalize;
    cursor: pointer;
}

.know-more span img{
    transition: all 300ms ease;
}

.know-more:hover img{
    transform: translateX(8px);
}

.scope{
    padding: 0 12rem;
}

.scope-title{
    color: #FFF;
    text-align: center;
    font-size: 47.06px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}

.scope-desc{
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 180% */
    letter-spacing: 0.45px;
}

.tech-title{
    display: inline-flex;
    align-items: flex-start;
    gap: 42px;
}

.tech-title span:nth-child(1){
    color: #FEC10F;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; 
    letter-spacing: 0.32px;
    cursor: pointer;
}

.tech-title span{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
    letter-spacing: 0.32px;
    cursor: pointer;
}

.webplatform, .database{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.webplatform div span:nth-child(1), .database div span:nth-child(1){
    color: #FFFFFC;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.32px;
}

.webplatform div span:nth-child(2), .database div span:nth-child(2){
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 192.308% */
    letter-spacing: 0.26px;
}

.graphql{
    width: 308px;
    display: flex;
    padding: 7px 24px 7px 13px;
    align-items: center;
    justify-content: space-between;
}

.backend{
    display: flex;
    padding: 7px 24px 7px 13px;
    align-items: center;
    gap: 95px;
}

.tech-border{
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(246, 246, 246, 0.10);
    transition: all 300ms ease-in-out;
    cursor: pointer;
    border-bottom: 2px solid white;
}

    .graphql span{
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 156.25% */
        letter-spacing: 0.32px;
    }

.react-hook{
    display: flex;
    padding: 7px 24px 7px 13px;
    align-items: center;
    gap: 19px;
}

.apollo{
    display: flex;
    padding: 7px 24px 7px 13px;
    align-items: center;
    gap: 40px;
}

.tech-border:hover{
    transform: translateY(-5px);
}

.insights{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    background: white;
    width: 100%;
    padding: 54px 105px;
}

.insights-heading{
    color: #000080;
    font-size: 32.06px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    text-transform: capitalize;
}

.insights-topics{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.insights-topics button{
    display: flex;
    padding: 6px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 55px;
    border: 0.5px solid #8E8E8E;
}

.card{
    border-radius: 12px;
    background: #FAFAFA;
    overflow: hidden;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-bottom: 4px solid black;
}

.card:hover{
    transform: translateY(-10px);
}

.date{
    color: #8E8E8E;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 192.308% */
    letter-spacing: 0.26px;
}

.card-desc{
    color: #000080;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 156.25% */
    letter-spacing: 0.32px;
}

.card div img{
    transition: all 300ms ease-in-out;
}

.card div img:hover{
    transform: scale(1.2);
}

.clients{
    display: inline-flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    background: white;
    overflow-x: auto;
}

.clients-mobile{
    display: none;
}

.clients div{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 57px;
}

footer div p:nth-child(1){
    color: var(--secondary-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
}

footer div p, footer div a,.address{
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 261.538% */
    letter-spacing: 0.26px;
}

#database{
    display: none;
}

.logo-img{
    max-width: 200px;
    height: auto;
}

@media (max-width: 1024px) {
    .logo-img{
        max-width: 175px !important;
    }

    nav{
        padding: 0.7rem !important;
    }

    .feature-section{
        gap: 20px !important;
        width: 90% !important;
    }

    .feature-section p, .feature-section p span{
        font-size: 30px !important;
        line-height: 40px !important;
    }

    .uni-pad{
        padding: 45px 10px !important;
    }

    .project-topics {
        flex-wrap: wrap !important;
        justify-content: space-between !important;
    }

    .project-topics button {
        width: 47% !important; /* Adjust as needed */
        margin-bottom: 8px !important; /* Adjust as needed */
        padding: 12px 12px !important;
    }

    .project-topics button:last-child {
        width: 50% !important; /* Adjust as needed */
    }

    .scope{
        padding: 0 1rem !important;
    }

    .scope-title{
        line-height: 33px !important;
        font-size: 30px !important;
    }

    .tech-title{
        padding: 0 1rem !important;
        gap: 20px !important;
    }

    .webplatform, .database{
        gap: 23px !important;
    }

    .techbox{
        width: 100% !important;
    }

    .graphql, .react-hook, .apollo, .backend{
        justify-content: space-between !important;
        margin-bottom: 1rem !important;
    }

    .insights{
        padding: 1rem 1rem !important;
    }

    .insights-topics{
        flex-wrap: wrap !important;
        gap: 10px !important;
    }

    .title-section p, .heading{
        font-size: 30px !important;
        line-height: 40px !important;
        margin-bottom: 8px !important;
    }

    .title-btn{
        font-weight: 500 !important;
    }

    .about-section-headlines{
        font-size: 13px !important;
        line-height: 18px !important;
    }

    .about-section-desc{
        font-size: 13px !important;
        line-height: 23px !important;
    }

    .heading{
        text-align: center !important;
    }

    .head-section{
        gap: 18px !important;
    }

    .product-design-img1 {
        width: 140.823px !important;
        height: 148.886px !important;
    }

    .product-design-img2{
        width: 172px !important;
        height: 212px !important;
        border: 0.917px solid #F2DDDD !important;
    }

    .prototyping-img2 {
        width: 174.134px !important;
        height: 92.067px !important;
    }

    

    .clients{
        display: none !important;
    }

    .clients-mobile{
        display: inline-flex !important;
        padding: 8px 10px !important;
        justify-content: center !important;
        align-items: center !important;
        background: white !important;
        overflow-x: auto !important;
    }

    .clients-mobile div{
        display: flex !important;
        align-items: center !important;
        padding: 0px !important;
        gap: 30px !important;
    }
    footer div p{
        line-height: 28px !important;
    }

    .project-title{
        font-size: 18px !important;
        line-height: 30px !important;
    }

    .graphql{
        width: 100%;
    }
}