.title-btn{
    padding: 10px 12px;
    border-radius: 37px;
    background: var(--secondary-color);
    box-shadow: 0px 2px 57.6px 0px rgba(254, 193, 15, 0.70);
}

.grid-section{
    background-image: url("../assets/images/homepage/grids.png");
    text-align: center;
    background-position: center;
}

.feature-section{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    width: 47%;
}

.feature-section p{
    color: #FFF;
    text-align: center;
    font-size: 61.06px;
    font-style: normal;
    font-weight: 600;
    line-height: 73px;
}

.feature-section p span{
    color: #FEC10F;
    font-size: 61.06px;
    font-style: normal;
    font-weight: 600;
    line-height: 73px;
}

.feature-section span{
    color: #8E8E8E;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; 
    letter-spacing: 0.54px;
}

.about-section{
    border-radius: 40px 40px 0px 0px;
    background: #FFF;
}

.title-section{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
}

.title-section p,.heading{
    color: #000080;
    font-size: 47.06px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 127.497% */
}

.about-section-headlines{
    color: var(--primary-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; /* 172.727% */
}

.about-section-desc{
    color: #8E8E8E;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 180% */
    letter-spacing: 0.45px;
    width: 78%;
}

@media (max-width: 768px){
    .about-section-desc{
        width: 100%;
    }
}

.services-section{
    border-radius: 36px;
    background: #F6F6F6;
    padding: 56px 105px 99.018px 105px;
}

.head-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    align-self: stretch;
}