:root {
    --primary-color: #000080;
    --secondary-color: #FEC10F;
    --black : #202020;
  }

*{
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
    width: 0 !important;
    background: transparent;
  }
  
nav{
    background: var(--primary-color);
    position: sticky;
    top: 0%;
    z-index: 9;
    border-bottom: 1px solid #ECECEC;
}

.navbar{
    display: flex;
    padding: 7px 15px;
    justify-content: center;
    align-items: center;
    /* gap: 17px; */
    border-radius: 44px;
    background: #F6F6F6;
}

.menu-items{
    color: #0E1670 !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
}

.book-btn {
    color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
    display: flex;
    width: 218px;
    height: 48px;
    padding: 10px 23px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 49px;
    background: linear-gradient(to right, var(--secondary-color) 50%, white 50%);
    background-size: 200% 200%;
    transition: background-position 300ms ease-in-out, color 300ms ease-in-out, transform 300ms ease-in-out;
    border: 3px solid var(--secondary-color);
    box-shadow: 0px 2px 57.6px 0px rgba(246, 245, 244, 0.7);
}

.book-btn:hover {
    background-position: 100% 100%;
    color: var(--primary-color);
    box-shadow: 0 0 50px 5px rgba(254, 193, 15, 0.70);
    transform: translate(5px,0px);
}

.navbar li{
    border-radius: 25px;
    padding: 7px 23px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.active, .navbar li:hover{
    border-radius: 25px;
    background: var(--primary-color);
    color: white;
}

.border-raidus-15{
    border-radius: 15px;
}

.logo-img{
    max-width: 200px;
    height: auto;
}

@media (max-width: 1024px) {
    .logo-img{
        max-width: 175px !important;
    }

    nav{
        padding: 0.7rem !important;
    }
}